*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'DM Sans', sans-serif;

}

.img{
    width: 100px;
    height: 100px;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    align-items: center;
}

.logo{
    color: #e4efe9;
    font-size: 2rem;
    font-weight: bolder;
}

.nav-a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.nav-a:hover{
    border-bottom: 1.5px solid white;
    padding-bottom: 28px;
}


.title, .description{
    font-size: 2.8rem;
    font-weight: bolder;
}

.title{
    padding-bottom: 60px;
}

p{
    color: rgb(54, 54, 54);
    font-size: 1.1rem;
    padding-top: 20px;
    padding-bottom: 20px;


}

#about-part{
    padding: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.tools{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.name{
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 30px;
}
#skills-part{
    margin-left: 80px;
    margin-bottom: 80px;
}


.main-img{
    width: 110%;
    height: auto;

}
.main-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.project-1, .project-2, .project-3, .project-4{
    width: 22%;
    height: 230px;
    display: flex;
    flex-direction: column;
    background: rgb(230, 230, 230);
    border-radius: 20px;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;

    
}
.space-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;

}

.fylo-img{
    height: 65%;    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    background-size: cover;
    width: 100%;

}
.crowd-img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.recipes-img, .weather-img, .advice-img{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
    height: 150px;
}

.project-title{
    font-size: 1.3rem;
    text-transform: capitalize;
    color: black;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;

}
.project-title:hover{
    color: rgb(48, 48, 48);
    margin: none;
    padding: none;
    border-bottom: none;
}

.countries-img{
    
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;

}

.code-img{
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
}

.side-project-1, .side-project-2 ,.side-project-3{
    width: 25%;
    height: 230px;
    display: flex;
    flex-direction: column;
    background: rgb(230, 230, 230);
    border-radius: 20px;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    align-items: center;
}

.side-projects{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
#side-projects-part{
    padding-left: 40px;
    padding-top: 100px;
}

footer{
    background: black;
    color: white;
}

.contact{
    color: white;
    text-align: center;
}

.email, .github{
    text-decoration: none;
    color: rgb(17, 17, 17);
}

button{
    background: rgb(218, 255, 251);
    border: 1px solid rgb(218, 255, 251);
    padding: 10px;
    width: 20%;
    border-radius: 15px;
    font-size: 1.3rem;
    cursor: pointer;
    margin: 20px;
}

button:hover{
    background: white;
    transition: 1000ms;
}

.btns{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;

}

footer{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 100px;
}
@media (max-width:550px){
    #about-part{
        display: flex;
        flex-direction: column;
    }
    .main-img{
        width: 100%;
        height: auto;
    
    }
    
    .project-1, .project-2, .project-3, .project-4{
        width: 40%;

    }
    .side-project-1, .side-project-2 ,.side-project-3{
        width: 45%;
    }

    button{
        width: 50%;
    }
    

}