*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    background: url('/pexels-adrien-olichon-2387793.jpg')  no-repeat center fixed;
    background-size: cover ;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: white;
    
    
}

.img{
    width: 100px;
    height: 100px;
    background-size: cover;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    align-items: center;
}

.logo{
    color: #e4efe9;
    font-size: 2rem;
    font-weight: bolder;
}

a{
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

a:hover{
    border-bottom: 1.5px solid white;
    padding-bottom: 28px;
}


.title, .description{
    font-size: 2.5rem;
    font-weight: bolder;
}

p{
    color: rgb(54, 54, 54);
    font-size: 1.1rem;
    padding-top: 20px;

}

#about-part{
    width: 60%;
    padding: 80px;
}



.tools{
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.name{
    font-size: 2rem;
    font-weight: bolder;
    margin-left: 30px;
}
#skills-part{
    margin-left: 80px;
    margin-bottom: 80px;
}

